.functionalities{
    clear: both;
    top: -14px;
  position: relative;
}
.functionalities li{
  list-style: none;
  float: left;
  padding-right: 10px;
}
.funcionalidades.container {
  width: 90%;
  margin: auto;
}
.functionalities ul.breadcrumb{
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #000000, #eb5757);
  background: linear-gradient(to left, #000000, #eb5757);
    padding: 0 1.5em;
  clear: both;
  height: 40px;
}
.functionalities ul.breadcrumb li{  
  border-right: 3px solid #fff;
  transform: skewX(-25deg);
  height: 40px;
  padding: 0 20px;
  position: relative;
  top: 0; 
  line-height: 40px;
}
.functionalities ul.breadcrumb li:first-child {
  display: none;
}
.functionalities ul.breadcrumb li:nth-child(2) {
  border-left: 3px solid #fff;
}
.functionalities ul.breadcrumb li:last-child {
  border-right: none;
}
.functionalities ul.breadcrumb li a{	
    color: #fff;
  transform: skewX(25deg);
  display: inline-block;
}
.functionalities ul.breadcrumb li a:hover, .functionalities ul.breadcrumb li a:focus{
  text-decoration: none;
  color: #7b4446;
}
.functionalities ul.breadcrumb li strong {
  color: #fff;
  text-decoration: none;
  transform: skewX(25deg);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}