.series {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.series .card .thumb {
  padding-bottom: 15rem;
  background-size: cover;
}
@media (min-width: 30em) {
  .series {
    grid-template-columns: 1fr 1fr;
  }
  .series .card .thumb {
    padding-bottom: 25rem;
  }
}
@media (min-width: 60em) {
  .series {
    grid-template-columns: repeat(6, 1fr);
  }
  .series .card .thumb {
    padding-bottom: 15rem;
  }
}
